# Ignore binaries and autotools generated Makefiles, timestamps, logs, etc.

/src/tcprelay
/src/Makefile
/src/tcprelay.o
/src/.deps/tcprelay.Po
/Makefile
/config.status
/stamp-h1
/config.h
/config.log
/doc/Makefile
